.btn{
	background: none;
	border: none;
	color: #BBB;
	border: 2px solid #BBB;
	cursor: pointer;
	font-size: 13px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.btn-main{
	background-color: #BBB;
	color: #323232;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	font-size: 20px;
}